---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body>
		 <a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">blog</a>
		<p>This is my blog page</p>
    </br>
    <br>
    <a href="/posts/post1">my first post</a>
<a href="/posts/post2">my second post</a>
<a href="/posts/post3">my third post</a>

</body>
</html>

