---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Faris Brkic</title>
	</head>
	<body>
		<h1>Faris Brkic</h1>
		<p>Mjesto življenja: Tešanj</p>
		<p>Adresa: Patriotske Lige bb</p>
		<p>Broj: +387603110348</p>
		<p>Osnovna škola: Huso Hodžić Tešanj</p>
		<p>Srednja škola: Gimnazija Musa Ćazim Ćatić Tešanj</p>
		<p>Trenutno školovanje: Elektrotehnički fakultet u Sarajevu</p>
		<p>Zanimanje: nezaposlen</p>
		<p>Otac: Admir</p>
		<p>Mati: Aida</p>
		<p>Brat: Faruk</p>
		<p>Djed: Adem</p>

		<p>Otac mu ima firmu BAFFA, agrovrtni centar</p>
	</body>
</html>
